
@media (max-width: 600px)
{
	.our_partners .main_wrapper .partners .partner:nth-child(1n)	
	{
		margin-right: 0px;
	}
}
@media (min-width: 840px) and (max-width: 1139px) 
{
	.our_partners .main_wrapper .partners .partner:nth-child(2n)	
	{
		margin-right: 0px;
	}
}
@media (min-width: 1140px) and (max-width: 1439px) 
{
	.our_partners .main_wrapper .partners .partner:nth-child(3n)	
	{
		margin-right: 0px;
	}
}
@media (max-width: 1440px)
{
	.our_partners .main_wrapper .partners .partner:nth-child(4n)	
	{
		margin-right: 0px;
	}
}
@media (max-width: 1140px) 
{
	.our_partners .main_wrapper .partners .partner:nth-child(3n)	
	{
		margin-right: 0px;
	}
}

// @media (min-width: 1440px) 
// {
// 	.our_partners .main_wrapper .partners .partner:nth-child(1n)	
// 	{
// 		margin-right: 0px;
// 	}
// }


// 	@media (max-width: 1455px) {
// 		.box_first
// 		{
// 			order: -2;
// 		}
// 		.new .new_boxes .box_fourth
// 		{
// 			order: -1;
// 			margin-right: 0;
// 		}
// 		.new .new_boxes
// 		{
// 			// width: 775px;
// 			justify-content: left;
// 		}
// 		.box_second
// 		{
// 			margin-right: 0;
// 		}
// 		.new .new_boxes .box_third
// 		{
// 			margin-right: 0;
// 		}

// 	}