@import "vars";
@import "libs";
@import "fonts";


*
{
	font-family: Roboto;
	font-size: 14px;
	color: #121920;
	font-weight: 400;
}

h1
{
	line-height: 57.6px;
	font-weight: 500;
	font-size: 36px;
	text-transform: uppercase;
}

h3
{
	line-height: 25.2px;
	font-weight: 500;
	font-size: 18px;
}

.button
{
	width: 100px;
	height: 40px;
	text-align: center;
	border: 1px solid;
	border-radius: 5px;

	span
	{
		display: block;
		font-weight: 500;
		font-size: 14px;
		padding: 13px 30px;
	}
}

.color_blue
{
	color: #FFFFFF;
	border-color: #34AADD;
}

.color_grey
{
	color: #bbc4d6;
	line-height: 22.4px;
}

.main_wrapper
{
	max-width: 1170px;
	height: 100vh;
	margin: 0 auto;
	padding: 0 135px;

	.header
	{
		width: 100%;
		height: 140px;
		margin: 0 auto;
		&_top
		{
			height: 80px;
			width: 100%;
			display: flex;
			flex-direction: row;
			// justify-content: space-between;
			.logo
			{
				height: 30px;
				width: 135px;
				margin-top: 25px;
				margin-right: 50px;
			}
			.search
			{
				margin-top: 20px;
				// max-width: 500px;
				min-width: 175px;
				flex-grow: 1;
				// width: 100%;
				// width: 160px;
				height: 40px;
				.search_box
				{
					position: relative;
					width: 100%;
					height: 40px;
					input	
					{
						width: 100%;
						height: 36px;
						position: relative;
						border: 1px solid #34AADD;
						border-radius: 5px;
						padding: 0;
					}
					.search_group
					{
						position: absolute;
						width: 100%;
						height: 40px;
						display: flex;
						justify-content: space-between;
						z-index: 1;
						.search_text
						{
							height: 22px;
							padding-top: 9px;
							padding-left: 20px;
						}
						.search_icon
						{
							padding-top: 12px;
							padding-right: 12.21px;
						}
					}
				}
				
				
			}
			.phone
			{
				width: 143px;
				height: 47px;
				padding-top: 15px;
				margin-left: 50px;
				.phone_number 
				{
					width: 100%;
					a
						{
							text-decoration: none;
							font-size: 18px;
							line-height: 28.8px;
							width: 100%;
						}
				}				
			}
			.button
			{
				margin-top: 20px;
				margin-left: 30px;
				background: #34aadd;
				border-color: #34AADD;
			}
		}
		&_bottom
		{
			height: 60px;
			width: 100%;

			.menu
			{
				list-style: none;
				padding: 0;
				display: flex;

				li
				{
					margin-left: 60px;
					line-height: 28.8px;
					color: #768298;
					font-size: 18px;
				}

				li.selected
				{
					color: #F95A59;
				}

				li:first-child
				{
					margin-left: 0;
				}
			}
		}
	}

	main
	{
		min-height: 500px;
	}

	.popular
	{
		margin: 90px 0;

		&_products
		{
			margin-top: 50px;
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;

			.product
			{
				width: 270px;
				border: 1px solid #000;
				margin-bottom: 30px;

				&_img
				{
					height: 174px;
					width: 100%;
				}

				&_text
				{
					padding: 10px 10px 0 11px;
				}
			}
		}
	}
}

// .max
// {
// 	width: 1000px;
// }


@import "media";
