@import "vars";
@import "libs";
@import "fonts";


*
{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #121920;
	font-weight: 400;
}

h1
{
	line-height: 57.6px;
	font-weight: 500;
	font-size: 36px;
	margin: 0;
	text-transform: uppercase;
}

h3
{
	line-height: 25.2px;
	font-weight: 500;
	font-size: 18px;
	margin: 0;
}

.button
{
	text-align: center;
	border: 1px solid;
	border-radius: 5px;
	height: fit-content;
	width: fit-content;
	cursor: pointer;
	span
	{
		padding: 13px 30px;
		display: flex;
		a
		{
			display: block;
			font-weight: 500;
			font-size: 14px;
			line-height: 14px;
			margin: 0 10px;
			text-decoration: none;
			text-align: center;
		}
	}
	
}

.button.color_blue
{
	background: #34aadd;
	border-color: #34AADD;

	a
	{
		color: #FFFFFF;
		border-color: #34AADD;
	}
}

.button.color_blue:hover
{
	background: #6680AE;
	border-color: #6680AE;

	a
	{
		color: #FFFFFF;
		border-color: #6680AE;
	}
}

.header_top .search:hover .search_box input
{
	border-color: #768298;
}
.header_top .search .search_box:hover .search_group
{
	z-index: -99;
}

footer .main_wrapper .footer .footer_bar .footer_bar_ul li a:hover
{
	text-decoration: revert;
}

.button.color_white:hover
{
	background: #FFFFFF;
	border-color: #6680AE;

	a
	{
		color: #6680AE;
		border-color: #6680AE;
	}
}
footer .main_wrapper .footer .footer_bar .footer_bar_ul .footer_logo:hover svg
{
	fill: #768298;
}
footer .main_wrapper .footer .footer_bar .footer_bar_ul .social .icon_s svg:hover
{
	fill: #768298;
}
.button.color_white:hover svg
{
	fill: #6680AE;
}

.button.color_white:active svg
{
	fill: #B0BDD4;
}

.button.color_white:disabled svg
{
	fill: #BBC4D6;
}

.header_bottom .menu li:hover
{
	color: #34AADD;
}
.popular_products .product_footer .buy_icon:hover
{
	background: #6680ae;
}
.new .new_boxes .box.box_l:hover
{
	background: #fff;
}
.new .new_boxes .box.box_l:hover .text_box h2
{
	color: #000;
}
.new .new_boxes .box.box_l:hover .text_box p
{
	color: #000;
}
.new .new_boxes .box.box_b:hover
{
	background: rgba(255,255,255,0.8);
}
.new .new_boxes .box.box_b:hover .text_box h3
{
	color: #000;
}
.new .new_boxes .box.box_b:hover .text_box p
{
	color: #000;
}
.popular_products .product_text h3:hover
{
	color: #34AADD;
	cursor: pointer;
}
.button.color_blue:active
{
	background: #B0BDD4;
	border-color: #B0BDD4;

	a
	{
		color: #FFFFFF;
		border-color: #B0BDD4;
	}
}

.button.color_white:active
{
	background: #FFFFFF;
	border-color: #B0BDD4;

	a
	{
		color: #B0BDD4;
		border-color: #B0BDD4;
	}
}
.button.color_blue:disabled 
{
	background: #EBEBF1;
	border-color: #EBEBF1;

	a
	{
		color: #BBC4D6;
		border-color: #EBEBF1;
	}
}

.button.color_white:disabled 
{
	background: #EBEBF1;
	border-color: #BBC4D6;

	a
	{
		color: #BBC4D6;
		border-color: #EBEBF1;
	}
}

.button.color_white
{
	background: #FFFFFF;
	border-color: #34AADD;

	span
	{	
		width: fit-content;
		a
		{
			color: #34AADD;
			border-color: #34AADD;
		}
		svg
		{	
			display: block;
			width: 15.3px;
			height: 13.8px;
			fill: #34AADD;
		}
	}
}



.color_grey
{
	color: #bbc4d6;
	line-height: 22.4px;
}

.main_wrapper
{
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 135px;
}

.header
{
	width: 100%;
	height: 140px;
	margin: 0 auto;
	&_top
	{
		height: 80px;
		width: 100%;
		display: flex;
		flex-direction: row;
			// justify-content: space-between;
			.logo
			{
				height: 30px;
				width: 135px;
				margin-top: 25px;
				margin-right: 50px;
			}
			.search
			{
				margin-top: 20px;
				// max-width: 500px;
				min-width: 175px;
				flex-grow: 1;
				// width: 100%;
				// width: 160px;
				height: 40px;
				.search_box
				{
					position: relative;
					width: 100%;
					height: 40px;
					input	
					{
						width: 100%;
						height: 36px;
						position: relative;
						border: 1px solid #fff;
						border-radius: 5px;
						padding: 0 0 0 10px;
						color: #BBC4D6;
					}
					.search_group
					{
						position: absolute;
						width: 100%;
						height: 40px;
						display: flex;
						justify-content: flex-end;
						z-index: 1;
						.search_text
						{
							height: 22px;
							padding-top: 9px;
							padding-left: 20px;
						}
						.search_icon
						{
							padding-top: 12px;
							padding-right: 2.21px;
						}
					}
				}
				
				
			}
			.phone
			{
				width: 143px;
				height: 47px;
				padding-top: 15px;
				margin-left: 50px;
				.phone_number 
				{
					width: 100%;
					a
					{
						text-decoration: none;
						font-size: 18px;
						line-height: 28.8px;
						width: 100%;
					}
				}				
			}
			.button
			{
				margin-top: 20px;
				margin-left: 30px;
			}
			.menu_icon
			{
				border-radius: 5px;
				display: flex;
				justify-content: center;
				// transform: rotate(-90deg);
				span
				{
					display: block;
					// color: #fff;
					font-weight: 500;
					font-size: 20px;
					margin: 0 auto;
					padding: 5px;
					line-height: 15px;
				}

			}
		}
		&_bottom
		{
			height: 60px;
			width: 100%;

			.menu
			{
				list-style: none;
				padding: 0;
				display: flex;
				max-width: 783px;
				justify-content: space-between;

				li
				{
					line-height: 28.8px;
					color: #768298;
					font-size: 18px;
					cursor: pointer;
				}

				li.selected
				{
					color: #F95A59;
				}
			}
		}
	}

	main
	{
		min-height: 500px;
	}

	.popular
	{
		margin: 90px 0;

		&_products
		{
			margin-top: 50px;
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;

			.product
			{
				width: 270px;
				margin-bottom: 30px;
				margin-right: 15px;

				&_img
				{
					height: 174px;
					width: 100%;
					background-size: cover;
					padding-top: 10px;

					.marks
					{
						height: 28px;
						width: 217px;
						margin: 0 0 0 10px;
						display: flex;

						.mark_text
						{
							color: #fff;
							padding: 3px 10px;
							line-height: 22.4px;
							text-align: center;
							border-radius: 3px;
							margin-right: 3px;
						}

						.action
						{
							background: #fac300;
						}

						.hit
						{
							background: #dc2c53;
						}

						.best_price
						{
							background: #a7507b;
						}

						.mark_text:last-child
						{
							margin-right: 0;
						}
					}
				}

				&_text_box
				{
					width: 249px;
					padding: 10px 0 10px 10px;
				}

				&_text
				{	
					height: 121px;

					h3
					{
						margin-bottom: 5px;
					}

					&_description
					{
						color: #768298;
						font-weight: 400;
					}
				}
				
				&_footer
				{
					height: 60px;
					display: flex;
					justify-content: space-between;
					margin-top: 7px;

					.price
					{
						margin-top: 7px;

						&_box
						{
							height: 21px;

							.price_old
							{
								line-height: 19.6px;
								color: #768298;
							}

							span
							{	
								display: block;
								height: 2px;
								width: 100%;
								background: #f95a59;
								transform: translateY(-10px) rotate(23.63deg);
							}
						}

						&_new
						{
							font-size: 16px;
							font-weight: 700;
							height: 22px;
						}
					}

					.buy_icon
					{
						width: 26px;
						height: 26px;
						padding: 12px;
						background: #34AADD;
						border-radius: 6px;
						box-shadow: -2px -2px 8px rgba(0, 0, 0, 0.05), 2px 2px 8px rgba(0, 0, 0, 0.05);
						cursor: pointer;
					}
				}
			}
			.product:last-child
			{
				margin-right: 0;
			}
		}
	}

	.new
	{
		background: #f0f0f0;
		padding: 50px 0;

		.new_boxes
		{
			max-width: 1170px;
			margin-top: 50px;
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			justify-content: space-between;
			
			

			.bg_box
			{
				max-width: 770px;
				min-width: 369px;
				height: 369px;
				margin: 0 30px 30px 0;
				flex: 1;
			}

			.box
			{	
				border-radius: 6px;
				margin: 0 30px 30px 0;
				display: flex;
				flex-direction: column;
				.text_box
				{
					p
					{
						color: #fff;
					}
					h2
					{
						color: #fff;
						font-size: 18px;
						font-weight: 500;
						line-height: 25.2px;
					}
					h3
					{
						color: #fff;
						font-size: 30px;
						font-weight: 500;
						line-height: 42px;
					}
				}
			}

			.box_l 
			{
				width: 369px;
				height: 369px;
				flex: none;
				flex-flow: column-reverse;
				.text_box
				{
					width: 318px;
					margin: 0 0 20px 20px;
					p
					{
						line-height: 22.4px;
					}
				}
			}

			.box_b
			{	
				width: 100%;
				height: 100%;
				justify-content: center;
				.text_box
				{
					max-width: 550px;
					margin-left: 50px;
					p
					{
						font-size: 16px;
						line-height: 25.6px;
					}
				}
			}

			.box_first
			{
				background: #34AADD;
				grid-area: post-1;
			}
			.box_second
			{
				background: rgba(167,80,123,0.8);
				grid-area: post-2;
				margin-right: 0;
			}
			.box_third
			{
				background: rgba(102,128,174,0.8);
				grid-area: post-3;
			}
			.box_fourth
			{
				background: #F95A59;
				grid-area: post-4;
				margin-right: 0;
			}
			
		}
	}

	.our_partners
	{
		margin: 90px 0;

		.main_wrapper
		{
			.partners
			{
				width: 100%;
				margin: 50px 0 90px 0;
				display: flex;
				flex-wrap: wrap;
				justify-content: left;
				.partners_first
				{
					width: 100%;
					display: flex;
					flex-wrap: wrap;
					justify-content: left;
					margin-bottom: 30px;
				}
				.partners_second
				{
					width: 870px;
					display: flex;
					flex-wrap: wrap;
					justify-content: left;
				}
				.partner
				{
					width: 268px;
					height: 98px;
					display: flex;
					margin-right: 30px;
					margin-bottom: 30px;
					flex: none;
					align-items: center;
					justify-content: center;
					border: 1px solid #EBEBF1;
				}
			}
		}
	}

	footer
	{
		.main_wrapper
		{
			.footer
			{	
				width: 100%;
				height: 110px;
				display: flex;
				justify-content: space-between;

				.footer_bar
				{
					width: 787px;
					height: 110px;
					.footer_bar_ul
					{
						list-style: none;
						// width: 787px;
						padding: 0;
						margin: 35px 0;
						display: flex;

						li
						{
							margin-right: 40px;
							a
							{
								text-decoration: none;
								color: #34AADD;
							}
						}
						li:last-child
						{
							margin-right: 0;
						}
						.footer_logo
						{
							margin-top: 7px;
							svg
							{
								fill: #BBC4D6;
							}
						}
						.vertical
						{
							width: 1px;
							height: 40px;
							background: #BBC4D6;
						}
						.social
						{
							display: flex;
							justify-content: space-between;
							width: 83px;
							height: 30px;
							.icon_s
							{
								padding-top: 5px;
								svg
								{
								fill: #BBC4D6;
								}
							}
						}
					}
				}

				.button.color_blue
				{
					display: flex;
					margin-top: 30px;
					flex: none;
					a
					{
						margin-top: 1.58px;
					}
					img
					{
						display: block;
						width: 18px;
						height: 17px;
					}
				}
			}
		}
	}
	.footer_menu ol
	{
		list-style: none;
		padding: 0;
		display: flex;
		margin-top: 13px;

		li
		{
			margin-right: 30px;
			font-weight: 500;
			font-size: 14px;
			text-align: center;
			color: #34AADD;
			flex: none;
		}
		li:last-child
		{
			margin-right: 0;
		}
	}

	#first_element .product_img
	{
		background-image: url(https://avatars.mds.yandex.net/get-zen_doc/1581470/pub_5f0eeb696fe55550572a8397_5f0ef5cfeab2774149bd7cb6/scale_1200);
	}
	#second_element .product_img
	{
		background-image: url(https://s1.1zoom.ru/b5050/118/353170-admin_1920x1200.jpg);
	}
	#third_element .product_img
	{
		background-image: url(https://w-dog.ru/wallpapers/10/0/443944590590976/krasivye-greenlands-gialinovye-ozero-vysokie-gory-sneg-prozrachnoe-ozero-otrazhenie-nebo-belye-oblaka.jpg);
	}
	#fourth_element .product_img
	{
		background-image: url(https://bipbap.ru/wp-content/uploads/2017/09/2560x1600_623139_www.ArtFile.ru_.jpg);
	}

	#bg_box_first
	{
		background-image: url(https://bipbap.ru/wp-content/uploads/2017/09/2560x1600_623139_www.ArtFile.ru_.jpg);
		margin-right: 0;
	}

	#bg_box_second
	{
		background-image: url(https://bipbap.ru/wp-content/uploads/2017/09/2560x1600_623139_www.ArtFile.ru_.jpg);
	}

// .max
// {
// 	width: 1000px;
// }


@import "media";
